{{-- resources/views/admin/dashboard.blade.php --}}

@extends('adminlte::page')

@section('title', 'Wellness & Health')

@section('content_header')
    <h1>Meus exames</h1>
@stop

@section('content')
<form class="form" action="exame/create" method="post">
   <table class="table">
      <thead>
         <th>
            <td>
               Descricão
            </td>
            <td>
               Editar | Excluir
            </td>
         </th>
      </thead>
      <tbody>
         @foreach ($exames as $exame)
            <tr>
               <td>
                  {{ $exame -> descricao }}
               </td>
            </tr>
         @endforeach
      </tbody>
   </table>

   AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
</form>
   <a href="exame/new">Adicionar Exame</a>
@stop

@section('css')
    <link rel="stylesheet" href="/css/admin_custom.css">
@stop

@section('js')
    <script> console.log('Hi!'); </script>
@stop
