.head-treino {
   font-size: 10px;
   border-width: 1px;
   background-color: #b5d1ff;
   border: 1px solid;

}

.cell-treino {
   /*font-size: 10px;*/
   border: 1px solid;
   background-color: #fcddc2;
}

.cell-treino input {
   background-color: transparent;
   border: 0px solid;

   width: 100%;
   /*font-size: 10px;
   border-width: 1px;
   background-color: #fcddc2;*/
}

.tabela-treino {
   margin-bottom: 10px;
}

.celula {
   border: 1px solid;
   margin: 0px;
   padding: 0px;
   background-color: #fcddc2;
   width: 100%;

}
.coluna{
   margin: 0px;
   padding: 0px;

}
.data-agendamento {
   background-color: transparent;
}

.coluna-agenda {
  margin: auto;
}

.linha-agenda {
  border: 1px solid;
  margin-bottom: 5px;
  font-size: 40px;
}

.linha-agenda.selected {
  background-color: #a0f27d;
}

.data {
  background-color: transparent !important;
}

.headTable {
   background-color: #E4ECF7;
   font-size: 10px;
   font-weight: bold;
}

.tabela {
   padding: 10px;
   border-top: 20px;
}

.celula {
   width: 5% !important;
   border: 1px solid #9EB6CE;
}

.celula-avaliacao {
   /*width: 5% !important;*/
   border: 1px solid #9EB6CE;
}

.coluna {
   /*border: 1px solid #9EB6CE;*/
   margin: 0;
   padding: 0;
}

.bg-transparente {
   background-color: transparent !important;
}

.sem-borda {
   border: 0px solid;
}

.pagar {
   background-color: #c9d4e5;
}

.receber {
   background-color: #b3bdce;
}

.login-box-body {
  background-image: url("../images/brain-opcity.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}


input[data-readonly] {
  pointer-events: none;
}
